/* =============================
    Global Variables
============================= */
:root {
  /* main color */
  --primary-color: #00468f;
  --secondary-color: #009c28;
  --info-color: #0097ff;

  /* color shades */
  --shade1: #050816;
  --shade2: #1c375b;
  --shade3: #032a5a;

  /* color tint */
  --tint1: #75c994;
  --tint2: #27c264;
  --tint3: #099039;

  /* action color */
  --warning: #faac04;
  --error: #dd2521;
  --danger: #ff0000;
  --success: #08ff11;
  --btn-green: #06e558;

  /* neutral color */
  --text-color1: #2a2929;
  --text-color2: #cccccc;
  --black: #000000;
  --white: #ffffff;
  --sliver: #f2f7ff;
  --gray: #737171;
  --l-gray: #f8f8f8;

  /* border color */
  --br-tint1: #545050;
  --br-tint2: #635e5e;

  /* hover color */
  --hvr-tint1: #d6d6d6;

  /* Font Family */
  --font-body: "Nunito Sans", sans-serif;
  --font-head: "Playfair Display", serif;
  --font-ctn: "Nunito", sans-serif;
  --font-num: "Inter", sans-serif;

  /* Font Weights */
  --fw-thin: 100;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;

  /* fonts sizes */
  --fs-vsm: 16px;
  --fs-sm: 20px;
  --fs-m: 24px;
  --fs-l: 28px;
  --fs-xl: 36px;
  --fs-xxl: 44px;
  --fs-xxxl: 64px;

  /* line heights */
  --lh-vsm: 24px;
  --lh-sm: 28px;
  --lh-m: 32px;
  --lh-l: 36px;
  --lh-xl: 44px;
  --lh-xxl: 68px;
  --lh-xxxl: 82px;
}